<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <!-- comienza formulario -->
        <div class="container">
            <h1>Iniciar sesión</h1>
            <form action="login.php" method="post">
              <label for="username">Nombre de usuario:</label><br>
              <input type="text" id="username" name="username" required><br>
              <label for="password">Contraseña:</label><br>
              <input type="password" id="password" name="password" required><br><br>
              <input type="submit" value="Iniciar sesión">
            </form>
        </div>



        <!-- fin de formulario -->
       
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function confirmDelete(id) {
            const confirmDelete = confirm('¿Seguro que quieres eliminar este elemento?');
        
            if (confirmDelete) {
                // Si se confirma la eliminación, redirige al servidor para eliminar el elemento
                window.location.href = `/eliminar/${id}`;
            }
        }
        </script>
</body>
</html>